@model Cab_Project.Models.Passengers
@{
    ViewData["Title"] = "Accept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Accept</h1>

<div>
    <h4>Passengers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.pickup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.pickup)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.drop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.drop)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
    </dl>
</div>
<div>
    <form method="post" asp-action="Accept">

        <div class="form-group">
            <input type="hidden" asp-for="Id" />

            <a asp-action="Index" class="btn btn-primary" style="background-color:green" inline="true">Back to orders </a>

            <input type="submit" value="Accept" class="btn btn-primary" inline="true" />
        </div>
    </form>
</div>